*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.logo
{
   
    color: #1877f2;
    font-weight: bolder;
    text-align: center;
    margin: 44px 0 4px 0;
    font-size: 50px;

   
}
#logo
{
    width: 240px;
}
div{
    display: block;
}
.head
{
    font-family: inherit;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 396px;
    background-color: #fff;
    padding: 24px 0 16px 0;
    border: 1px solid #dddfe2;
    border-bottom: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
    

}

.main
{
    
    margin-top: 20px;
   
    display: grid;
    place-items: center;
   
}
.body
{
    width: 396px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-top: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
input{
    padding: 16px;
    padding-left: 16px;
    width: 346px;
    border: 1px;
    height: 52px;
    margin: 10px;
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color:#dddfe2;
}
.btn
{
    margin: 10px;
    width: 348px;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color:#1877f2 ;
    border-width: 0px;
    border-style: none;
    border-color: #1877f2;
    border-radius: 5px;
    outline: none;
    color: white;
    
    

}
button:hover
{
    color: white;
}
button:focus ,  button:active:focus
{
   outline: none;
   
}
input:focus
{
    outline: none;
}
.in 
{
    margin: 10px;
}
@media only screen and (max-width: 660px)
{
    .head
    {
        width: 90%;
    }
    .body
    {
        width: 90%;
    }
    input
    {
        width: 90%;
    }
    .btn{
        width: 90%;
    }
}

